[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {editable = true, path = "."}
jupyterlab = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
